@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  /* Eliminando los espacios predeterminados del navegador */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root{
  /*colores*/
  --color-principal: #79B823;
  --color-secundario: #123316;
  --color-terciario: #717171;
  --color-fuente: #fff;

  /*fuente*/
  --fuente-principal: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

#cabecera{
  width: 100%;
  margin: 0px auto;
}

#top-bar{
  background-color: var(--color-secundario);
  color: var(--color-fuente);
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 0.9em;
}

.container{
  max-width: 80%;
  margin: 0 auto;
}
.container-header {
  display: flex;
  align-items: center;
  background-color: var(--color-fuente);
}

/*Ëstilos para topbar*/
.container-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  font-family: var(--fuente-principal);
}

.row-topbar-link{
  color: var(--color-fuente);
  text-decoration: none;
  /* margin-right:10px; */
}

.icons-contact{
  display: flex;
  justify-content: space-between;
  width: 60%;
  gap: 30px;
}

.icons-socia-media
{
  display: flex;
  justify-content: flex-end;
  width: 40%;
  gap: 30px;
}

.color-icon{
  color: var(--color-principal);
  margin: 10px;
  font-size: 15px;
}

.size-icon{
  font-size: 18px;
}
/*Estilos para el header*/

.header-box{
  background-color: var(--color-fuente);
}
.logo {
  /* Estilo del logo */
  background-color:var(--color-principal) ;
  padding: 20px;
  width: 20%;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.nav li {
  list-style: none;
  padding: 10px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: var(--color-secundario);
}
.nav li a {
  text-decoration: none;
  color: var(--color-secundario);
  font-family: 'Poppins', sans-serif;
}

.nav .search {
  border-right: 1px solid var(--color-principal);
  padding-inline: 20px;
  
}


.img-fluid {
  width: 100%;
  height: auto;
  display: block;;
}
.btn-nav{
  background-color: var(--color-principal);;
  color: var(--color-fuente);
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-decoration: none;
  border: none;
}

.fijar-cabecera{
  position: sticky;
  top: 0px;
  z-index: 1000;
}
/*Estilos para el banner*/

#banner{
  background-image: url("../img/img-hero.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  max-height: 700px; 
}


.banner-content{
  width: 50%;
  background-color: var(--color-secundario);
  opacity: 0.9;
}

.banner-texto{
  color: var(--color-fuente);
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  padding: 120px;
  text-align: left;

}

.banner-texto h3{
  font-size: 28px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: capitalize;
}

.banner-texto h1{
  font-size: 70px;
  font-weight: 600;
  line-height: 100px;
}

.btn-banner{
  margin-top: 20px;
  background-color:transparent;
  color: var(--color-principal);;
  padding:  20px 30px;
  border-radius: 0px 25px 25px 25px;
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  text-decoration: none;
  border: 2px solid var(--color-principal);;
}

/*sección working-process*/
.title{
  color: var(--color-secundario);
  padding: 0 50px 0 50px;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.subtitle{
  color: var(--color-principal);;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 50px;
  text-align: center;
}

.container-working-process{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.working-process-item{
  padding: 30px;
  margin: 30px;
  text-align: center;
}

.box-img-item{
  border-radius: 50%;
  border: 3px dotted var(--color-principal);;
  width: 80px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.title-working-item{
  color: var(--color-secundario);
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.parrafo-working-item{
  color: var(--color-terciario);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 10px;
}

/*Estilos para la sección about us*/

#about, #our-benefits, #our-projects{
  display: flex;


}

.container-about{
  background-color: var(--color-secundario);
  background: url("../img/garden-about.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;

}

.about-texto{
  color: var(--color-secundario);
  font-family: 'Poppins', sans-serif;
  width: 50%;
  padding: 0 60px;
}

.box-img-about{
  border: 5px solid var(--color-principal);;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  margin: 80px auto ;

  
}

.img-about{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.parrafo-about-texto{
  margin: 30px 0;
  color: var(--color-secundario);
  font-weight: 600;
  font-size: 20px;
}

.texto-about-texto{
  color: var(--color-terciario);
  margin-bottom: 20px;

}

.container-highlights{
  --gap-col: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px var(--gap-col);
  max-width: 60%;
  margin:  0 auto 20px;
}


.highlights-item{
  flex-basis: calc(50% - var(--gap-col)/2);
  min-width: 0;
  border: var(--color-principal) 1px solid;
  border-radius: 10px;
  padding: 20px;
  font-weight: 600;
  color: var(--color-secundario);
  display: flex;
  align-items: center;
  gap: 10px;
}

/*Estilos para la sección de Our benefits*/

.container-benefits{
  background-color: var(--color-secundario);
  background-color: #e6efd9;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2379b823' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-img-benefits{
  width: 700px;
  border: 6px solid var(--color-principal);;
}

.container-btns{
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.btn-about{
  background-color: var(--color-principal);;
  color: var(--color-fuente);
  padding: 20px 30px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-decoration: none;
  border: none;
}

.btn-second{
  background-color: var(--color-fuente);
  color:var(--color-principal); ;
  border: 2px solid var(--color-principal);;
}

.texto-item-about{
  font-weight: 400;
  color: var(--color-terciario);
  margin-top: 10px;

}

.btn-benefits{
  background-color: var(--color-principal);;
  color: var(--color-fuente);
  
}

/* Estilos para la sección de nuestros servicios*/

.container-services{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 80px;
  padding: 50px 0;
  
}

.box-service-item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

.services-item{
border: var(--color-secundario) 1px solid;
border-radius: 10px ;
margin: 20px;
padding-bottom: 20px;
background-color: var(--color-fuente);
text-align: center;
}

.img-service{
  border-radius: 10px 10px 0px 0px;
}

.title-service-item{
  color: var(--color-secundario);
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
  padding: 20px;
  text-align: center;
}

#services{
  background-color: var(--color-secundario);
  background-image: url("../img/garden-about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box-services{
  background-color: var(--color-secundario);
  opacity: 0.9;
}

.title-service{
  color: var(--color-fuente);
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
/*sección de nuestros proyectos*/
.box-projects{
  background-color: var(--color-fuente);
}

.title-our-projects, .title-our-team{
  color: var(--color-secundario);
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}

.projects-item{
  box-shadow: 0px 0px 10px var(--color-terciario);
  border: none;
}

/*Estilos para el footer*/
#footer {
  background-color: #123316;
  color: var(--color-fuente);
  padding: 50px 20px;
  font-family: var(--fuente-principal);
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 20px 50px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.title-footer {
  font-size:80px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color-fuente);
}

.footer-column p{
  color: #d0d4cb;
}

.linea-footer {
  border: 1px solid #d0d4cb;
  width: 90%;
  margin: 20px 0;
}
.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer-column p,
.footer-column ul {
  font-size: 14px;
  line-height: 3;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}


.footer-column form {
  display: flex;
  flex-direction: column;
  
}

.footer-column form input[type="email"] {
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
}

.footer-column form button {
  background-color: var(--color-principal);
  color: var(--color-fuente);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
}

.footer-column form button:hover {
  background-color: #9bd14f;
}

.footer-bottom {
  border-top: 1px solid #d0d4cb;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: var(--color-fuente);
  padding: 30px 0 0 0;
}

/* Estilos para el botón de scroll hacia arriba */
.scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  text-align: center;
  background-color: var(--color-principal);
  color: var(--color-fuente);
  line-height: 45px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
}
/* Estilos para sección our-team*/
.box-team{
  padding-bottom: 50px;
}

.container-team{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.col{
  flex-basis: 0;
  flex-grow: 1;

}

.col-20{
            flex-basis: 20%;
            max-width: 20%;
        }
.col-25{
            flex-basis: 25%;
            max-width: 25%;
        }

.col-33{
            flex-basis: 33.33%;
            max-width: 33.33%;
        }
.team-items{
  background-color: var(--color-fuente);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px var(--color-terciario);
  position: relative;
}
.title-team-item{
  color: var(--color-principal);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 10px;
}

.name-team{
  color: var(--color-secundario);
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.btn-share{
  background-color: var(--color-principal);
  width: 30px;
  height: 32px;
  text-align: center;
  padding-top: 5px;
  color: var(--color-fuente);
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  position: absolute;
  left:70%;
  bottom: 80px;
}